.navbar {
  background-color: whitesmoke;
}
.navbar .navbarLogo img {
  max-width: 100px;
  mix-blend-mode: multiply;
}
.navbar .nav-link:hover {
  text-shadow: 0px 0px 10px blue;
}
.footerContainer {
  background-color: #333;
  min-width: 1350px;
  height: 400px;
}
.footerContainer .borders {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 40px;
}
.footerContainer .content {
  margin-left: 40px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}
.footerContainer .content .servicesTitle {
  color: #056399;
}
.footerContainer .content .servicesTitle hr {
  border-top: 2px solid silver;
  width: 90px;
}
.footerContainer .content .servicesTitle .services {
  margin-top: 20px;
}
.footerContainer .content .servicesTitle .services p {
  color: silver;
}
.footerContainer .content .projectTitle {
  color: #056399;
  margin-left: 30%;
}
.footerContainer .content .projectTitle hr {
  border-top: 2px solid silver;
  width: 90px;
}
.footerContainer .content .projectTitle .projects {
  margin-top: 20px;
}
.footerContainer .content .projectTitle .projects p {
  color: silver;
}
.footerContainer .content .contactTitle {
  color: #056399;
  margin-left: 30%;
}
.footerContainer .content .contactTitle hr {
  border-top: 2px solid silver;
  width: 90px;
}
.footerContainer .content .contactTitle .info {
  margin-top: 20px;
}
.footerContainer .content .contactTitle .info p {
  color: silver;
}
.homeContainer {
  background: linear-gradient(whitesmoke, lightgrey);
  min-width: 1350px;
  height: 100%;
}
.homeContainer .imgContainer {
  padding: 250px 0px;
  height: 1000px;
  display: flex;
  justify-content: center;
}
.homeContainer .imgContainer img {
  max-height: 500px;
  mix-blend-mode: multiply;
}
.homeContainer .services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.homeContainer .services .big3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  flex-wrap: nowrap;
}
@media (max-width: 950px) {
  .homeContainer .services .big3 {
    flex-wrap: wrap;
  }
  .homeContainer .services .big3 .card {
    width: 50%;
  }
}
.homeContainer .services .big3 .card {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 550px;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
  border: 1px solid whitesmoke;
  background-color: white;
  transition: all 0.2s ease;
}
@media (max-width: 1350px) {
  .homeContainer .services .big3 .card {
    width: 50%;
  }
}
.homeContainer .services .big3 .card .link {
  color: black;
  text-decoration: none;
}
.homeContainer .services .big3 .card img {
  max-width: 100%;
  max-height: 50%;
  padding: 10px;
}
@media (max-width: 950px) {
  .homeContainer .services .big3 .card img {
    min-width: 100%;
  }
}
.homeContainer .services .big3 .card p {
  padding: 0px 15px 0px;
}
.homeContainer .services .big3 .card h5 {
  margin-top: 5px;
}
.homeContainer .services .big3 .card:hover {
  border: 0.5px solid blue;
  cursor: pointer;
  background-color: whitesmoke;
  transform: scale(1.1, 1.1);
}
.homeContainer .services .big3 .card:hover h5 {
  color: blue;
}
.homeContainer .services .big3 .card:hover p {
  color: #090211;
}
body {
  margin: 0;
  padding: 0;
}
.consultingContainer {
  min-height: 100%;
  min-width: 1350px;
  padding-top: 50px;
  background: linear-gradient(whitesmoke, lightgrey);
}
.consultingContainer .consultingSectionContainer {
  margin: 0 auto;
  width: 40%;
  height: 100%;
  margin-top: 50px;
}
.consultingContainer .consultingSectionContainer h2 {
  margin: 50px auto;
  text-align: center;
}
.consultingContainer .consultingSectionContainer .titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.consultingContainer .consultingSectionContainer .titleContainer .collapseContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid whitesmoke;
  background-color: #333;
  color: silver;
}
.consultingContainer .consultingSectionContainer .titleContainer .collapseContainer h4 {
  text-indent: 10px;
  font-size: 30px;
}
.consultingContainer .consultingSectionContainer .titleContainer .collapseContainer .down {
  transform: rotate(90deg);
  position: relative;
  right: 20px;
}
.consultingContainer .consultingSectionContainer .titleContainer .collapseContainer .up {
  transform: rotate(-90deg);
}
.consultingContainer .consultingSectionContainer .titleContainer .collapseContainer:hover {
  cursor: pointer;
  background-color: blue;
  color: white;
}
.consultingContainer .contentContainer {
  width: 100%;
  height: 700px;
  margin: 0;
  padding: 0;
  border: none;
  margin-top: 100px;
  transition: all 1.3s ease;
  overflow: hidden;
  padding-bottom: 100px;
  background-color: #333;
  display: flex;
  align-items: center;
}
@media (max-width: 1150px) {
  .consultingContainer .contentContainer {
    flex-direction: column;
    height: 1400px;
  }
}
.consultingContainer .contentContainer .flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  height: 100%;
}
@media (max-width: 1150px) {
  .consultingContainer .contentContainer .flex {
    margin-left: 0px;
    width: 90%;
  }
}
.consultingContainer .contentContainer .flex .carouselContainer {
  width: 100%;
  height: 700px;
  float: right;
  display: block;
  text-align: center;
}
@media (max-width: 1150px) {
  .consultingContainer .contentContainer .flex .carouselContainer {
    margin-top: 250px;
  }
}
.consultingContainer .contentContainer .flex .carouselContainer .carousel {
  height: 700px;
  width: 100%;
}
.consultingContainer .contentContainer .flex .carouselContainer .carousel-item {
  height: 700px;
  width: 100%;
}
.consultingContainer .contentContainer .flex .carouselContainer .carousel-item img {
  height: 700px;
  width: 100%;
}
.consultingContainer .contentContainer .flex .carouselContainer .carousel-control-prev {
  margin: 0;
  padding: 0;
}
.consultingContainer .contentContainer .contentFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 45%;
  height: 80%;
  margin-right: 3%;
}
@media (max-width: 1150px) {
  .consultingContainer .contentContainer .contentFlex {
    margin-right: 0px;
    justify-content: none;
    margin-top: -100px;
    width: 70%;
  }
}
.consultingContainer .contentContainer .contentFlex .content {
  font-size: 23px;
  color: silver;
  margin: 0 60px;
  text-indent: 25px;
}
.consultingContainer .contentContainer .contentFlex .content h2 {
  color: silver;
  position: relative;
  right: -800px;
  transition: all 1.3s ease;
  width: 100%;
  font-size: 40px;
}
@media (max-width: 1150px) {
  .consultingContainer .contentContainer .contentFlex .content h2 {
    left: -880px;
    top: -760px;
    font-size: 60px;
  }
}
.consultingContainer .contentContainer .contentFlex .content p {
  margin-top: 100px;
}
.consultingContainer .contentContainer .contentFlex .privateButton {
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 220px;
  height: 38px;
  box-shadow: 1px 1px 2px black;
  font-size: 25px;
  text-decoration: none;
  background-color: white;
  transition: all 0.5s ease;
  margin-top: 100px;
}
.consultingContainer .contentContainer .contentFlex .privateButton:hover {
  background-color: blue;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.consultingContainer .contentContainer:hover h2 {
  transform: translateX(-120%);
  transition: all 1.3s ease;
  overflow: hidden;
}
@media (max-width: 1600px) {
  .consultingContainer .contentContainer:hover h2 {
    transform: translateX(-150%);
  }
}
@media (max-width: 1500px) {
  .consultingContainer .contentContainer:hover h2 {
    transform: translateX(-180%);
  }
}
@media (max-width: 1150px) {
  .consultingContainer .contentContainer:hover h2 {
    transform: translateX(130%);
  }
}
.consultingContainer .content2Container {
  width: 100%;
  height: 700px;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
@media (max-width: 1150px) {
  .consultingContainer .content2Container {
    height: 1400px;
    flex-direction: column;
  }
}
.consultingContainer .content2Container .flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  height: 100%;
}
@media (max-width: 1150px) {
  .consultingContainer .content2Container .flex {
    margin-right: 0px;
    width: 90%;
  }
}
.consultingContainer .content2Container .flex .carousel2Container {
  width: 100%;
  height: 700px;
  float: right;
  display: block;
  text-align: center;
}
@media (max-width: 1150px) {
  .consultingContainer .content2Container .flex .carousel2Container {
    margin-top: 250px;
  }
}
.consultingContainer .content2Container .flex .carousel2Container .carousel {
  height: 700px;
  width: 100%;
}
.consultingContainer .content2Container .flex .carousel2Container .carousel-item {
  height: 700px;
  width: 100%;
}
.consultingContainer .content2Container .flex .carousel2Container .carousel-item img {
  height: 700px;
  width: 100%;
}
.consultingContainer .content2Container .flex .carousel2Container .carousel-control-prev {
  margin: 0;
  padding: 0;
}
.consultingContainer .content2Container .contentFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 45%;
  height: 80%;
  margin-right: 3%;
  margin-top: 3%;
}
@media (max-width: 1150px) {
  .consultingContainer .content2Container .contentFlex {
    margin-right: 0px;
    justify-content: none;
    margin-top: -20%;
    width: 70%;
  }
}
.consultingContainer .content2Container .contentFlex .content {
  font-size: 23px;
  margin: -20px 60px;
  text-indent: 25px;
}
@media (max-width: 1150px) {
  .consultingContainer .content2Container .contentFlex .content {
    margin-top: 100px;
  }
}
.consultingContainer .content2Container .contentFlex .content h2 {
  transition: all 1.3s ease;
  position: relative;
  left: -880px;
  font-size: 40px;
}
@media (max-width: 1150px) {
  .consultingContainer .content2Container .contentFlex .content h2 {
    top: -730px;
    font-size: 60px;
  }
}
.consultingContainer .content2Container .contentFlex .content p {
  margin-top: 100px;
}
.consultingContainer .content2Container .contentFlex .publicButton {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 38px;
  box-shadow: 1px 1px 2px grey;
  font-size: 25px;
  text-decoration: none;
  background-color: white;
  transition: all 0.5s ease;
  margin-top: 150px;
  position: relative;
  top: -75px;
}
.consultingContainer .content2Container .contentFlex .publicButton:hover {
  background-color: blue;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.consultingContainer .content2Container:hover h2 {
  transform: translateX(170%);
  transition: all 1.3s ease;
  overflow: hidden;
}
@media (max-width: 1600px) {
  .consultingContainer .content2Container:hover h2 {
    transform: translate(200%);
  }
}
@media (max-width: 1400px) {
  .consultingContainer .content2Container:hover h2 {
    transform: translate(230%);
  }
}
@media (max-width: 1150px) {
  .consultingContainer .content2Container:hover h2 {
    transform: translateX(130%);
  }
}
.projectContainer {
  margin: 75px auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 110%;
  width: 100%;
  background: linear-gradient(maroon, black);
  background-size: 110% 110%;
  padding: 40px 40px;
}
.projectContainer .project {
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(whitesmoke, lightgrey);
  width: 350px;
  height: 400px;
  border-radius: 25px;
  transition: all 0.5s ease;
}
.projectContainer .project:hover {
  transform: scale(1.2, 1.2);
}
.projectContainer img {
  max-width: 300px;
  max-height: 250px;
}
.aboutContainer {
  min-height: 100%;
  min-width: 1350px;
}
.aboutContainer .contentContainer {
  width: 100%;
  background: linear-gradient(whitesmoke, lightgrey);
  padding-bottom: 100px;
  padding-top: 7%;
}
.aboutContainer .contentContainer .content {
  width: 50%;
  height: 60%;
  margin-top: 4%;
  position: relative;
  right: -44%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-indent: 40px;
}
.aboutContainer .statsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutContainer .statsContainer .stats {
  display: flex;
  position: relative;
  bottom: 10%;
  background: linear-gradient(gold, darkgoldenrod);
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 150px;
}
.aboutContainer .statsContainer .stats .stat {
  padding: 0px 30px;
  border-right: 3px solid goldenrod;
  border-left: 3px solid goldenrod;
}
.aboutContainer .statsContainer .stats .stat .number {
  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 2px 2px grey;
}
.aboutContainer .statsContainer .stats .stat .description {
  font-size: 30px;
  text-shadow: 2px 2px 2px grey;
}
.aboutContainer .teamContainer {
  width: 100%;
  height: 60%;
  padding-top: 25px;
  background: linear-gradient(whitesmoke, lightgrey);
  color: black;
}
.aboutContainer .teamContainer h2 {
  text-align: center;
}
.aboutContainer .teamContainer .team .level1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 200px;
  margin: 25px auto;
  border-radius: 15px;
  text-align: center;
  background: repeating-radial-gradient(#ada3a3, #797676);
}
.pageContainer {
  min-width: 1350px;
  min-height: 100%;
  max-height: 100%;
  background: linear-gradient(whitesmoke, lightgrey);
}
.pageContainer .contactContainer {
  width: 80%;
  height: 1050px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0;
  padding-top: 80px;
  text-align: center;
}
@media (max-width: 770px) {
  .pageContainer .contactContainer {
    padding-top: 200px;
  }
}
.pageContainer .contactContainer h2 {
  margin-bottom: 5%;
  font-weight: bold;
  color: blue;
  text-decoration: underline;
  text-decoration-color: gold;
}
.pageContainer .contactContainer .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
}
@media (max-width: 1350px) {
  .pageContainer .contactContainer .content {
    width: 115%;
  }
}
.pageContainer .contactContainer .content .card {
  width: 350px;
  height: 300px;
  background: linear-gradient(white, whitesmoke);
  margin: 0px 40px 35px;
  box-shadow: 2px 2px 2px grey;
  border-radius: 25px;
  transition: all 0.5s ease;
}
.pageContainer .contactContainer .content .card img {
  height: 50px;
  width: 50px;
  display: block;
  margin: 40px auto;
  mix-blend-mode: multiply;
}
.pageContainer .contactContainer .content .card .msg {
  transform: scale(1.4, 1.4);
}
.pageContainer .contactContainer .content .card h4 {
  padding-top: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
  text-decoration-color: blue;
}
.pageContainer .contactContainer .content .card p {
  padding: 0px 15px;
}
.pageContainer .contactContainer .content .card:hover {
  transform: scale(1.2, 1.2);
  z-index: 1;
}
.constructionContainer {
  width: 100%;
  height: 100%;
  background: linear-gradient(whitesmoke, lightgrey);
}
.constructionContainer .carouselContainer {
  width: 700px;
  height: 600px;
  background-color: black;
  margin: 100px auto 0px;
}
.modalCarouselContainer {
  height: 600px;
  width: 700px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalCarouselContainer .carousel-control-next-icon {
  position: absolute !important;
  left: 10%;
  border-radius: 25px;
}
.modalCarouselContainer .carousel-control-prev-icon {
  position: absolute !important;
  right: 10%;
  border-radius: 25px;
}
.modal-content {
  background: linear-gradient(whitesmoke, lightgrey) !important;
}
@font-face {
  font-family: 'Orienta';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Orienta'), local('Orienta-Regular'), url(https://fonts.gstatic.com/s/orienta/v8/PlI9FlK4Jrl5Y9zNeyc.ttf) format('truetype');
}
* {
  font-family: "Orienta", 'Times New Roman', Times, serif;
  line-height: 25px;
}
.carouselImg {
  max-width: 700px;
  max-height: 900px;
  text-align: center;
  margin: 0 auto;
  display: block;
}
