@import 'navBar';
@import 'home';
@import 'consulting';
@import 'projects';
@import 'about';
@import 'contact';
@import url('https://fonts.googleapis.com/css2?family=Orienta&display=swap');

* {
    font-family: "Orienta", 'Times New Roman', Times, serif;
    line-height: 25px;
}

body {
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
