@import 'variables';

@import 'navBar';
@import 'footer';
@import 'home';
@import 'consulting';
@import 'projects';
@import 'about';
@import 'contact';
@import 'construction';
@import 'modal';
@import url('https://fonts.googleapis.com/css2?family=Orienta&display=swap');

* {
    font-family: "Orienta", 'Times New Roman', Times, serif;
    line-height: 25px;
}

.carouselImg {
    max-width: 700px;
    max-height: 900px;
    text-align: center;
    margin: 0 auto;
    display: block;
}